
.divcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}


.cartEmpty {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.Option {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}


.CartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
}


.divcart h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover {
    background-color: #0056b3;
}


.Option.checkout {
    background-color: #28a745;
}

.Option.checkout:hover {
    background-color: #1d7a3e;
}
