
.contenedor2 {
    text-align: center;
    padding: 20px;
}


.tittle {
    font-size: 24px;
    color: #eb0000;
    margin-bottom: 20px;
}


.confirmation-message {
    font-size: 18px;
    color: #000000; 
    margin-bottom: 20px;
}


.order-details-container {
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}


.confirm-button {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.custom-pre {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    /* Otros estilos personalizados que desees aplicar */
}
